<div class="form-container">
  <h2>
    {{ questionId ? "Edit Question" : "Create Question" }}
  </h2>

  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Question Content</mat-label>
      <textarea matInput formControlName="content"> </textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Question Order</mat-label>
      <input matInput type="number" formControlName="questionOrder" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Audio URL</mat-label>
      <input matInput formControlName="audioUrl" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Image URL</mat-label>
      <input matInput formControlName="imageUrl" />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      [disabled]="form.invalid"
      (click)="save()"
    >
      Save
    </button>
  </form>
</div>
