<div class="page-container">
  <div class="page-header">
    <h2>Manage Questions - Part</h2>

    <button mat-raised-button color="primary" (click)="createQuestion()">
      Create Question
    </button>
  </div>

  <table mat-table [dataSource]="questions">
    <!-- Content -->
    <ng-container matColumnDef="content">
      <th mat-header-cell *matHeaderCellDef>Question</th>

      <td mat-cell *matCellDef="let q">
        {{ q.content }}
      </td>
    </ng-container>

    <!-- Order -->
    <ng-container matColumnDef="order">
      <th mat-header-cell *matHeaderCellDef>Order</th>

      <td mat-cell *matCellDef="let q">
        {{ q.questionOrder }}
      </td>
    </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>

      <td mat-cell *matCellDef="let q">
        <button mat-icon-button color="accent" (click)="manageAnswers(q.id)">
          <mat-icon>quiz</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="editQuestion(q.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteQuestion(q.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
