.header-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: linear-gradient(
    90deg,
    var(--primary-dark),
    var(--primary-light)
  ) !important;

  color: white;
  box-shadow: 0 4px 16px rgba(37, 99, 235, 0.2);
}

.logo {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  color: white;
}

.spacer {
  flex: 1;
}

.username {
  margin-left: 8px;
  font-size: 14px;
}
