<mat-toolbar class="header-toolbar">
  <!-- Logo / Title -->
  <a routerLink="/tests" class="logo">
    {{ title }}
  </a>

  <span class="spacer"></span>

  <a *ngIf="authService.isAdmin()" mat-button routerLink="/admin/tests">
    Admin
  </a>

  <!-- User menu trigger -->
  <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>account_circle</mat-icon>
  </button>

  <button mat-button [matMenuTriggerFor]="userMenu" *ngIf="userName">
    {{ userName }}
  </button>

  <!-- Dropdown menu -->
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item routerLink="/profile">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
